{% extends "base/base.html" %}
{% load static %}
{% block content %}


<div class="row">
	
	<div class="col col-md-6 offset-md-3 border">
		<center><h1>{{ object_list.title }}</h1></center>
		<hr>
		{% if object_list.image %}
		<a href="{{ instance.get_absolute_url }}">
		  <img src="{{ object_list.image.url }}" alt="{{ object_list.title }}" 
		  style="width: 500px; max-height: 350px;">
		</a>
		{% endif %} 
		<hr>
		{{ object_list.description }}
		<hr>
		<div class="col col-md-6 offset-md-9">


			<a href="{{ object_list.get_edit_url }}"><button class="btn btn-info" >Edit</button></a>

			<a href="{{ object_list.get_delete_url }}"><button class="btn btn-danger" >Delete</button></a>
			<br>
		</div>
		<br>
	</div>

</div>

{% endblock %}

